nav {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.nav_title {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.nav_link {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
