body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

a,
h1,
h2,
h3 {
  color: hsl(98, 80%, 32%);
}

header {
  margin: 0 auto;
  max-width: 50em;
}

main {
  margin: 0 auto;
  max-width: 50em;
}

footer {
  margin: 0 auto;
  max-width: 50em;
}

nav {
  background-color: #342f2f;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: none;
  margin: 0 auto;
  max-width: 50em;
  font-family: "Inter", sans-serif;
}

.nav-title {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin: 8px;
}

.nav-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 8px;
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.hero_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  justify-content: space-around;
  column-gap: 20px;
  padding-bottom: 10px;
}

.story {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-bottom: 10px;
}

.story_example {
  border: 1px solid black;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  gap: 12px;
}

.story_point {
  display: flex;
  flex-direction: column;
}

.story_point h2 {
  margin-bottom: 0;
}

.experience {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.connect_text {
  display: flex;
  flex-direction: column;
}

.connect_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_link {
  margin: 12px;
  display: flex;
  align-items: center;
}

.connect-header {
  display: flex;
  gap: 20px;
  padding: 50px 0;
}

.connect-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
}

.greeting {
  flex: 1;
}

.greeting h1 {
  margin-bottom: 0;
}

.greeting p {
  margin-top: 6px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form label {
  display: block;
}

.contact-form .form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-form .form-field input {
  padding: 3px 4px;
}

.button {
  padding: 6px 10px;
  background: hsl(98, 80%, 32%);
  border: 0;
  border-radius: 2px;
  color: hsl(98, 80%, 95%);
}

.button:hover {
  opacity: 0.7;
  transition: color 0.5s;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
