body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

a,
h1,
h2 {
  color: hsl(98, 80%, 22%);
}

header {
  margin: auto;
  max-width: 40em;
}

main {
  margin: auto;
  max-width: 50em;
}

footer {
  margin: 0 auto;
  max-width: 50em;
}

nav {
  background-color: hsl(98, 80%, 12%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: none;
  margin: 0 auto;
  max-width: 50em;
}

.nav-title {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin: 8px;
}

.nav-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 8px;
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  justify-content: space-around;
  column-gap: 20px;
  padding-bottom: 10px;
}

.story {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-bottom: 10px;
}

.story-example {
  border: 1px solid black;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 24px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  gap: 12px;
}

.story-point {
  display: flex;
  flex-direction: column;
}

.story-point h2 {
  margin-bottom: 0;
}

.experiences {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.closing-text {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.closing-text a {
  text-decoration: none;
  font-weight: bold;
}

.closing-text p {
  margin-top: 0px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-link {
  margin: 12px;
  display: flex;
  align-items: center;
}

.connect-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  border-bottom: 1px solid black;
}

.connect-greeting {
  flex: 1;
}

.form-greeting h1 {
  margin-bottom: 0;
}

.form-greeting p {
  margin-top: 6px;
}

.form {
  margin-top: 30px;
  margin-right: 8px;
  padding-right: 0;
  flex: 1;
}

.form label {
  display: block;
}

.form .form-field {
  display: flex;
  flex-direction: column;
}

.form .form-field input {
  padding: 3px 4px;
}

.button {
  padding-top: 10px;
  padding-bottom: 20px;
}

.button:hover {
  opacity: 0.7;
  transition: color 0.5s;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
