header {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  max-width: 50em;
}

main {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  max-width: 50em;
}

nav {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: none;
}

.nav_title {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.nav_link {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  justify-content: space-around;
  column-gap: 20px;
}
